amqp==5.0.2
asgiref==3.3.1
billiard==3.6.3.0
boto3==1.16.35
botocore==1.19.35
celery==5.0.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
dj-database-url==0.5.0
Django==3.1.4
django-celery-beat==2.1.0
django-heroku==0.3.1
django-storages==1.10.1
django-timezone-field==4.1.1
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.3.0
jmespath==0.10.0
kombu==5.0.2
numpy==1.19.4
pandas==1.1.5
prompt-toolkit==3.0.8
psycopg2==2.8.6
PyJWT==1.7.1
python-crontab==2.5.1
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.4
redis==3.5.3
requests==2.25.1
s3transfer==0.3.3
six==1.15.0
sqlparse==0.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.2.0
zipp==3.4.0
